body {
	background-image: url("../images/bg.png");
  background-repeat: repeat;
	font-size: 100%;
	font-family: 'Arial', sans-serif;
}

.clearfix {
    overflow: auto;
}

.wrapper {
	margin: auto;
	width: 950px;
	background-color: white;
	padding: 10px 15px 10px 15px;
	border-radius: 15px;
}
header {

}

#projects {
	margin: 30px 0 0 0;
	padding-top: 15px;
	border-top-style: solid;
}

div .clear {
	clear: both;
}

h1 {
	text-align: center;
}

h2 {
  font-variant: small-caps;
}
h2 {

}
.list-section p {
	font-weight: bold;
	margin-top: 20px;
}

.list-section {

}
td:first-child {
  font-weight: bolder;
}
table, caption {
  background-color: white;
  border: none;
  margin: auto;
	padding-bottom: 20px;
}
caption {
	font-weight: bold;
}
td {
	padding-right: 10px;
}
td:nth-child(3) {
	text-align: center;
}
tr:nth-child(even) {
	background-color: #f3f2f0;
}
img {
  float: left;
  border-radius: 50%;
  filter: grayscale(100%);
  padding-right: 15px;
}
div {
  margin: auto;
  width: 900px;
}
#green {
  color: green;
}
.purple {
  color: purple;
}

/* CSS Pseudo Classes */

a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: #dd0000;
}
